#Minecraft server properties
#Sat Nov 01 02:35:39 GMT 2025
accepts-transfers=false
allow-flight=false
broadcast-console-to-ops=true
broadcast-rcon-to-ops=true
bug-report-link=
debug=false
difficulty={{.Properties.Difficulty}}
enable-code-of-conduct=false
enable-jmx-monitoring=false
enable-query=false
enable-rcon={{.Properties.EnableRcon}}
enable-status=true
enforce-secure-profile=true
enforce-whitelist=false
entity-broadcast-range-percentage=100
force-gamemode={{.Properties.ForceGameMode}}
function-permission-level=2
gamemode={{.Properties.GameMode}}
generate-structures=true
generator-settings={}
hardcore={{.Properties.Hardcore}}
hide-online-players=false
initial-disabled-packs=
initial-enabled-packs=vanilla
level-name={{.Properties.LevelName}}
level-seed={{.Properties.LevelSeed}}
level-type={{.Properties.LevelType}}
log-ips=true
management-server-enabled={{.Properties.ManagementServerEnabled}}
management-server-host={{.Properties.ManagementServerHost}}
management-server-port={{.Properties.ManagementServerPort}}
management-server-secret={{.Properties.ManagementServerSecret}}
management-server-tls-enabled=true
management-server-tls-keystore=
management-server-tls-keystore-password=
max-chained-neighbor-updates=1000000
max-players={{.Properties.MaxPlayers}}
max-tick-time=60000
max-world-size=29999984
motd={{.Properties.Motd}}
network-compression-threshold=256
online-mode={{.Properties.OnlineMode}}
op-permission-level={{.Properties.OpPermissionLevel}}
pause-when-empty-seconds=-1
player-idle-timeout=0
prevent-proxy-connections=false
query.port=25565
rate-limit=0
rcon.password={{.Properties.RconPassword}}
rcon.port=25575
region-file-compression=deflate
require-resource-pack=false
resource-pack=
resource-pack-id=
resource-pack-prompt=
resource-pack-sha1=
server-ip={{.Properties.ServerIp}}
server-port=25565
simulation-distance={{.Properties.SimulationDistance}}
spawn-protection={{.Properties.SpawnProtection}}
status-heartbeat-interval=0
sync-chunk-writes=true
text-filtering-config=
text-filtering-version=0
use-native-transport=true
view-distance={{.Properties.ViewDistance}}
white-list={{.Properties.WhiteList}}
